<h1>Header</h1>
<ul style="display: inline-flex; list-style-type:none;">
    <li style=" padding:20px;">
        {{#link-to "index"}}
        Home
        {{/link-to}}
    </li>
    <li style=" padding:20px;">
        {{#link-to "consultations"}}
        Consultations
        {{/link-to}}
    </li>
    <li style=" padding:20px;">
        {{#link-to "categories" "5435" }}
        categories
        {{/link-to}}
    </li>

    <li style=" padding:20px;">
        {{#link-to "categories.category" "35434" }}
        category
        {{/link-to}}
    </li>
    <li style=" padding:20px;">
        {{#link-to "categories.category.sub-category" "35434" }}
        sub-category
        {{/link-to}}
    </li>
    <li style=" padding:20px;">
        {{#link-to "categories.category.sub-category.category-filter" "35434" }}
        category-filter
        {{/link-to}}
    </li>
    <li style=" padding:20px;">
        {{#link-to "categories.category.sub-category.category-filter" "35434" }}
        category-filter
        {{/link-to}}
    </li>

</ul>
<p>
    {{outlet}}
</p>
<h2>
    Footer
</h2>